<!DOCTYPE html>
<html>
<%- include('header'); -%>
<body >
    <div class="container">
        <div class="row">

            <div class="col-6 div-text">

                <% listCountry = JSON.parse(data2) %>
                <% world = listCountry.Global %>


                <!--                https://developers.google.com/chart/interactive/docs/gallery/columnchart-->
                <div >NewConfirmed</div>
                <div ><%= world["NewConfirmed"]%></div>
                <div >TotalConfirmed</div>
                <div ><%= world["TotalConfirmed"]%></div>
                <div >NewDeaths</div>
                <div ><%= world["NewDeaths"]%></div>
                <div >TotalDeaths</div>
                <div ><%= world["TotalDeaths"]%></div>
                <div >Date</div>
                <div ><%= world["Date"]%></div>
            </div>

            <div id="regions_div" ></div>


        </div>
        <!--bang 2-->
        <br>
        <br>
        <table id="main_table_countries_today" class="table table-bordered table-hover main_table_countries dataTable no-footer" style="width: 100%; margin-top: 0px !important;">
            <thead>
            <tr role="row">
                <th width="1%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="#" style="width: 20.8889px;">#</th>
                <th width="100" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="Country,Other: activate to sort column ascending" style="width: 99.8889px;">Country,<br>Other</th>
                <th width="20" class="sorting_desc" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalCases: activate to sort column ascending" style="width: 64.8889px;" aria-sort="descending">TotalConfirmed</th>
                <th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="NewCases: activate to sort column descending" style="width: 41.8889px;">NewConfirmed</th>
                <th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalDeaths: activate to sort column descending" style="width: 47.8889px;">TotalDeaths</th>
                <th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="NewDeaths: activate to sort column descending" style="width: 45.8889px;">NewDeaths</th>
                <th width="30" class="sorting" tabindex="0" aria-controls="main_table_countries_today" rowspan="1" colspan="1" aria-label="TotalRecovered: activate to sort column descending" style="width: 71.8889px;">Date</th>
            </thead>
            <tbody>
            <% temp = 1  %>
            <%  listCountry.Countries.forEach((item) => { %>
            <tr class="total_row_world odd" role="row">
                <td><%= temp %></td>
                <td style="font-weight: bold; font-size:15px; text-align:left;" ><%= item["Country"] %></td>
                <td><%= item["TotalConfirmed"] %></td>
                <td><%= item["NewConfirmed"] %></td>
                <td><%= item["TotalDeaths"] %></td>
                <td><%= item["NewDeaths"] %></td>
                <td><%= item["Date"] %></td>
                <% temp++ %>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('footer'); -%>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages':['geochart'],
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {

            var data = google.visualization.arrayToDataTable([
                ['Country', 'TotalConfirmed','TotalDeaths'],
                <%  listCountry.Countries.forEach((item) => { %>
                ['<%= item["CountryCode"] %>', <%= item["TotalConfirmed"] %>, <%= item["TotalDeaths"] %>],
                <% }) %>

            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>

</body>
</html>
